
frontend/node_modules/

frontend/.DS_Store

backend/__pycache__/

backend/.env

.DS_Store

backup/
!/frontend/package-lock.json
!/node_modules/
!/frontend/.idea/
!/backend/poetry.lock
!/backend/.env
!/backend/venv/
!/backend/.idea/
!/node_modules/.package-lock.json
